//FONT-FAMILY
$regular-font: Roboto-regular;
$bold-font: Roboto-bold;
//FONT-SIZES
$sm-font-size: 15px;
$md-font-size: 17px;
$lg-font-size: 40px;
$xl-font-size: 80px;
//COLORS
$color-1: #007DC6;
$color-2: #707070;
$color-3: #002F82;
$color-4: #00C681;
$color-5: #D42D11;