button {
    font-size: $sm-font-size;
    background: $color-3;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    cursor: pointer;
    &.fourth-button {
        margin-top: 30px;
    }
}

.main-button {
    @media screen and (min-width: 1600px) {
        font-size: 30px;
        border-radius: 30px;
    }
}